<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<input type="hidden" name="id" id="id" th:value="${board.Id}">
<span th:text="${board.BoardTitle}"></span><br>
<span th:text="${board.BoardWriter}"></span><br>
<span th:text="${board.BoardContents}"></span><br>
<span th:text="${board.BoardHits}"></span><br>
<span th:text="*{#temporals.format(board.CreatedTime,'yyyy-MM-dd HH:mm:ss'}"></span><br>
<span th:text="*{#temporals.format(board.UpdatedTime,'yyyy-MM-dd HH:mm:ss'}"></span><br>
<button type="button" onclick="update()">수정</button>
<button type="button" onclick="boardDelete()">삭제</button>
<button type="button" onclick="findAll()">목록</button>
<div id="pwCheck"></div>
</body>
<script>
    const update = () => {
        let output = '<input type="text" id="checkPassword" placeholder="비밀번호 입력">';
        output += '<button type="button" onclick="pwCheck()">확인</button>';

        document.querySelector("pwCheck").innerHTML = output;
    }
    const pwCheck=()=>{
        const boardId=document.getElementById("id").value;
        const pw =document.getElementById("checkPassword").value;
        const dbPw='[[${board.getBoardPassword}]]';

        if(pw==dbPw){
            location.href='board/update/'+boardId;
        }else {
            alert("놉");
        }
    }
    const boardDelete=()=>{
        let output = '<input type="text" id="checkPassword" placeholder="비밀번호 입력">';
        output += '<button type="button" onclick="pwCheck2()">확인</button>';

        document.querySelector("pwCheck").innerHTML = output;
    }
    const pwCheck2 =()=>{
        const boardId= document.getElementById("id").value;
        const pw= document.getElementById("checkPassword").value;
        const dbPw='[[${board.getBoardPassword}]]';

        if(pw==dbPw){
            location.href='board/delete/'+boardId;
        }else {
            alert("노옵");
        }
    }
    const findAll=()=>{
        location.href='/board/';
    }


</script>
</html>